@import "../../scss/colors";

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 735px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  &--column {
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: 500;
    max-width: 195px;
  }

  &--column .menu__item {
    padding: 5px 14px;
  }

  &--column .menu__item--active {
    display: none;
  }
}

.menu__item {
  padding: 10px 12.5px;
}

.menu__link {
  text-decoration: none;
  color: $color-service;

  &--active {
    color: $color-main;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}
