$color-indigo:               #2C36F2;
$color-indigo--dark:         #2027B3;
$color-indigo--darken:       #1F1E25;
$color-indigo--light:        #F6F7FF;

$color-red:                  #BE4A4A;
$color-white:                #FFFFFF;

$color-grey:                 #707C87;
$color-grey--light:          #C1C2CA;

$color-main:                 $color-indigo;
$color-main--dark:           $color-indigo--dark;

$color-service:              $color-indigo--darken;
$color-service--light:       $color-grey;
$color-service--lighten:     $color-grey--light;
$color-service--lightest:    $color-indigo--light;

$color-background:           $color-white;
$color-error:                $color-red;
