$color-indigo:               #2C36F2;
$color-indigo--dark:         #1F1E25;
$color-indigo--light:        #F6F7FF;

$color-red:                  #BE4A4A;
$color-red--light:           #E5E5E5;

$color-grey:                 #707C87;
$color-grey--light:          #C1C2CA;

$color-main:                 $color-indigo;

$color-service:              $color-indigo--dark;
$color-service--light:       $color-grey;
$color-service--lighten:     $color-grey--light;
$color-service--lightest:    $color-indigo--light;

$color-background:           $color-red--light;
$color-error:                $color-red;
